<ion-content [fullscreen]="true" class="splash-container">
    <div class="main-container">
      <div class="logo-container animate-fade-in">
        <img src="assets/images/logo.png" alt="VecindApp Logo" class="app-logo animate-logo">
        <h1 class="app-name animate-text">VECINDAPP</h1>
        <p class="app-slogan animate-text">TU VOZ EN LA COMUNIDAD</p>
      </div>
      
      <div class="enter-button-container animate-button">
          <a href="/login" style="text-decoration: none; width: 100%;">
            <ion-button expand="block" color="primary">
              ENTRAR
            </ion-button>
          </a>
      </div>
    </div>
</ion-content>