<ion-content [fullscreen]="true" class="splash-container">
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="VecindApp Logo" class="app-logo">
      <h1 class="app-name">VECINDAPP</h1>
      <p class="app-slogan">TU VOZ EN LA COMUNIDAD</p>
    </div>
    
    <div class="enter-button-container">
        <a href="/login" style="text-decoration: none; width: 100%;">
          <ion-button expand="block" color="primary">
            ENTRAR
          </ion-button>
        </a>
      </div>
  </ion-content>