.error-container {
    padding-left: 16px;
    padding-top: 5px;
    font-size: 12px;
  }
  
  ion-card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  ion-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ion-padding-top {
    padding-top: 20px;
  }
  
  ion-button {
    margin: 20px 0;
    --border-radius: 8px;
  }
  
  a {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: 500;
  }
  
  ion-segment {
    margin-bottom: 20px;
  }